<%- include('./partials/head.ejs') %>

<body>
    <div class="container">
        <section class="header">
            <h2>Hi! Frederick</h2>
            <button class="btn logout">Logout</button>
        </section>
        <section class="details">
            <div class="div">
                <h4>Time: 11:25pm</h3>
                <p>Number of tasks: <%=numTask%></p>
            </div>
            <div class="multiple-btn">
                <button class="btn all isToggled">All</button>
                <button class="btn active">Active</button>
                <button class="btn completed">Completed</button>
            </div>
        </section>
        <section class="add-task">
            <input type="text" name="" id="add-task" placeholder="Add a new task">
        </section>
        <section class="all-tasks">
            <ul>
                <% todo.forEach(tasks => { %>

                    <li class="<% if (tasks.isCompleted === true) { %>
                        completed <% } %> ">
                        <div class="edit-input" data-id="<%=tasks._id %>">
                            <input type="text" name="<%=tasks._id %>" id="edit-task" placeholder="Edit your task">
                        </div>

                        <%=tasks.tasks%>
                        
                        <a class="delete" data-id="<%=tasks._id %>">
                            <box-icon name='trash-alt' type='solid' ></box-icon>
                        </a>

                        <button class="edit" onclick="showInput('<%= tasks._id %>')">
                            <box-icon name='edit-alt' ></box-icon>
                        </button>
                    </li>
                <% }); %>
            </ul>
        </section>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>